<template>
  <div class="merchant-card">
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-layout>
            <v-flex xs4>
              <v-img :src="thumbnailUrl" aspect-ratio="1" max-height="150px"></v-img>
            </v-flex>
            <v-flex xs8>
              <v-card-title primary-title>
                <div>
                  <h3 class="title">{{nameChn}} | {{nameEng}}</h3>
                  <v-layout align-center justify-start>
                    <v-rating
                      :value="rating"
                      background-color="white"
                      color="red lighten-3"
                      dense
                      half-increments
                      size="18"
                    ></v-rating>
                    <span>1个评价</span>
                  </v-layout>
                  <span class="grey--text">{{address}}</span>
                  <br>
                  <span>{{priceRange}} {{specialty}}</span>
                  <br>
                  <span>{{openingStatus}} {{tags}}</span>
                </div>
              </v-card-title>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'merchant-card',
  props: ['nameChn',
    'nameEng',
    'thumbnailUrl',
    'address',
    'priceRange',
    'specialty',
    'openingStatus',
    'tags',
    'rating'
  ],
  data: function () {
    return {
    }
  }
}
</script>

<style>
.merchant-card {
  margin-top: 5px;
}
</style>
