<template>
  <div id="app">
    <v-app>
      <v-toolbar dark color="teal lighten-3">
        <v-toolbar-side-icon></v-toolbar-side-icon>

        <v-toolbar-title class="white--text">北美雷锋网</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon>search</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>apps</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>more_vert</v-icon>
        </v-btn>
      </v-toolbar>
      <search-box></search-box>
      <merchant-card
        v-for="merchant in merchants"
        :key="merchant.id"
        :name-chn="merchant.nameChn"
        :name-eng="merchant.nameEng"
        :thumbnail-url="merchant.thumbnailUrl"
        :address="merchant.address"
        :price-range="merchant.priceRange"
        :specialty="merchant.specialty"
        :opening-status="merchant.openingStatus"
        :tags="merchant.tags"
        :rating="merchant.rating"
      ></merchant-card>
    </v-app>
  </div>
</template>

<script>
import MerchantCard from './components/MerchantCard'
import SearchBox from './components/SearchBox'

export default {
  name: 'App',
  data () {
    return {
      merchants: [
        {
          id: 1,
          nameChn: '香小馆',
          nameEng: 'Shang Cafe',
          thumbnailUrl: 'static/fremont.jpg',
          address: '35783 Caxton Pl, Fremont, CA 94536',
          priceRange: '$$',
          specialty: '湘菜 川菜 鸭脖',
          openingStatus: '营业中 · 营业结束时间： 22:00',
          tags: '只收现金',
          rating: 4.5
        },
        {
          id: 2,
          nameChn: '香小馆',
          nameEng: 'Shang Cafe',
          thumbnailUrl: 'static/fremont.jpg',
          address: '35783 Caxton Pl, Fremont, CA 94536',
          priceRange: '$$',
          specialty: '湘菜 川菜 鸭脖',
          openingStatus: '休息 · 开始营业时间： 10:00 周一',
          tags: '只收现金',
          rating: 4.5
        }
      ]
    }
  },
  components: {
    MerchantCard,
    SearchBox
  }
}
</script>

<style>
</style>
